{{#section 'head'}}
    <meta name="robots" content="noindex" />
{{/section}}

<h1>Тестовая страница</h1>
<p>Тестируем что-то связанное с jQuery</p>

{{#section 'jquery'}}
    <script>
        $('document').ready(function() {
            $('h1').html('jQuery работает');
        });
    </script>
{{/section}}
